* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
  }

body {
    background-color: #f4f4f4;
}

/* Estilo del encabezado */
.header {
    background-color: #16263f;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid #d4b483;
}

.header h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    margin-bottom: 10px;
}

#subtito {
    padding-inline: 20px;
    text-align: left;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color: #d4b483;
    border-top: 12px solid #d4b483;
    border-block-end: 12px solid #d4b483;
    margin-bottom: 10px;
}

/* Galería estilo Masonry */
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

img {
    max-width: 100%;
    margin-bottom: 0.2em;
    display: block;
    border-radius: 10px;
}

.gallery {

    columns: 2 32px;
    column-gap: 0.2em;
}

/* Inicia el footer */
footer {
    background-color: #16263f;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin: 0;
}

#autor {
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    border-block-end: 1px #ffffff solid;
    margin-top: 10px;
}

#rd {
    font-size: 1rem;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    padding-inline: 20px;
}

.cuenta {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    padding-inline: 20px;

}

#redes img {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
    display: inline-block; /* Asegura que los íconos estén en línea */
}

#redes {
    font-size: 1.6rem;
    padding: 0px;
    text-align: left;
    margin-top: 0px;
    display: flex;
}

#redes {
    gap: 0; /* Elimina el espacio entre los íconos si usas flexbox */
    justify-content: center; /* Centra los íconos si es necesario */
}

#rede {
    font-size: 1.6rem;
    padding: 0px;
    text-align: left;
    margin-top: 0px;
    display: flex;
}

/* Estilo para los íconos de redes sociales */
#redes .cuenta a i {
    font-size: 2rem; /* Tamaño del ícono */
    color: #ffffff; /* Cambia este color al que desees */
    transition: color 0.3s ease; /* Efecto de transición al pasar el mouse */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

#aboutaut {
    border-radius: 2% 2% 0% 0%;
    background-color: #8fb1ae;
}

#aboutaut img {
    object-fit: cover;
    border-radius: 10px;
}
#aboutaut {
    font-size: 1.3rem;
    padding: 10px;
    text-align: center;
    border-block-end: 1px #e2dddd solid;
    margin-top: 10px;
}

